<form class="was-validated form-row" #cadastro="ngForm" (ngSubmit)="salvar()">  
  <div class="col-md-2 mb-3">
    <label for="txtCodigo">C&oacute;digo</label>
    <input type="text" ng-model="produto.codigo" class="form-control" 
    disabled name="codigo">
  </div>

  <div class="col-md-4 mb-3">
      <label for="nome">Nome</label>
    <input type="text" [(ngModel)]="produto.nome" 
    class="form-control is-valid" #nome="ngModel" name="nome" minlength="5" required>
    <div [hidden]="nome.valid" class="invalid-feedback">
        <p>Nome incompleto</p>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <label for="descricao">Descric&atilde;o</label>
    <input type="text" [(ngModel)]="produto.descricao" 
    class="form-control is-valid" #descricao="ngModel" name="descricao" required>
    <div [hidden]="descricao.valid" class="invalid-feedback">
        <p>Descric&atilde;o é obrigatório</p>
    </div>
  </div>

  <div class="col-md-3 mb-3">
    <label for="preco">Pre&ccedil;o</label>
    <input type="text" [(ngModel)]="produto.preco" 
    class="form-control is-valid" #preco="ngModel" name="preco" required>
    <div [hidden]="preco.valid" class="invalid-feedback">
      <p>Pre&ccedil;o é obrigatório</p>
    </div>
  </div>

  <div class="col-md-2 mb-2">
    <label for="estoque">Estoque</label>
    <input type="text" [(ngModel)]="produto.estoque" 
    class="form-control is-valid" #estoque="ngModel" name="estoque" required>
    <div class="invalid-feedback">
        <p>Estoque é obrigatório</p>
    </div>
  </div>

  <div class="container">
      <button class="btn btn-success" type="submit" 
      [disabled]="cadastro.form.invalid">Enviar</button>
      <button class="btn btn-danger" type="button" 
      [hidden]="isNew" (click)="excluir()">Excluir</button>
      <button class="btn btn-warning" type="button" 
      (click)="cancelar()">Cancelar</button>
  </div>
</form>

