<input type="text" [(ngModel)]="searchText" class="form-control" 
placeholder="O que voc&ecirc; est&aacute; procurando?" /><br />

<table class="table table-hover">
  <thead>
      <tr>
        <th>C&oacute;digo</th>
        <th>Nome</th>
        <th>Descric&atilde;o</th>
        <th>Pre&ccedil;o</th>
        <th>Estoque</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produtoTabela of produtos | filter:searchText">
        <a [routerLink]="[produtoTabela.codigo]">
        <td>{{produtoTabela.codigo}}</td></a>
        <td>{{produtoTabela.nome}}</td>	
        <td>{{produtoTabela.descricao}}</td>	
        <td>{{produtoTabela.preco}}</td>	
        <td>{{produtoTabela.estoque}}</td>
      </tr>
    </tbody>		
</table> 
<span [hidden]="(produtos | filter: searchText).length != 0">Infelizmente 
  n&atilde;o temos o que voc&ecirc; est&aacute; procurando</span>
